* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Alumni Sans Pinstripe, serif;
}

.navbar {
    background: rgba(19,19,19, 1);

    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300;
    margin: 0 auto;
    padding: 0 50px;
    
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #425af5 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center; 
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #b57edc;
    transition: all 0.3s ease;
    color: #fff;
}

.button:hover {
    background: #4837ff;
    transition: all 0.3s ease; 
}

.navbar__links:hover{
    color: #4837ff;
    transition: all 0.3s ease;
}

@media only screen and (max-width: 960px) {
    
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    
    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display:flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }
    
    #mobile-menu.is-active .bar:nth-child(2){
        transform: translateX(-4px) 
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateX(4px) 
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateX(4px) 
    }
}
#myVideo {
    /* position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    
    top:0;
    left:0;
    width: 100%;
    min-height: 100%; */
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    
  }
.main{
    background-color: transparent;
}
.main__container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0, auto;
    height: 90vh;
    background-color: transparent;
    z-index: 1;
    width: 100%;
    
    padding: 0 50px;
}
.main__content h1{
    font-size: 2rem;
    background-color: #fe3b6f;
    background-image: linear-gradient(to top, #9D50BB 0%, #6E48AA 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
      
}
.main__content h2{
    font-size: 2rem;
    background-image: #fff;
    background-color: #fff;
   
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
      
}
.main__content h3{
    font-size: 2rem;
    background-image: #fff;
    background-color: #fff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
      
}
.intro__container{
    text-align:center;
    align-items: center;
    align-content: center;
    justify-self: center;
    margin: 0, auto;
    height: 100%;
    background-image: linear-gradient(to top, #ee9ca7 75%, #d67493 100%);
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 40px 50px;
}


.intro__title h1{
    display: inline-block;
    background-color:transparent;
    width: 30%;
    height: 100%;
    text-align: center;
    padding: 20px 0;
    border-radius:4px;
    font-size:30px;
    font-weight: bolder;
    padding:15px;
    margin:5px;
    
}

.intro__content p{
    display: inline-block;
    width: 40%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}
.projects{
    background: #2e2e2e;
     /* #393D47; */
}
.project__container{
    
    text-align:center;
    align-items: center;
    align-content: center;
    justify-self: center;
   
    
    background-image: #393D47;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 40px 50px;
}

.project__title{
   
    width: 80%;
    margin: 0 auto;
    display: -webkit-flex; /* Safari */     
    display: flex;
    
}
.fa-brands{
    margin:0 5px;
}
.project__title h1{
    padding: 10px;
    font-size: 16px;
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
    flex: 1;
}

.project__description{
    transition: 'all .6s ease';
    
    /* width: 100%;
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 20px 0; */
    width:  100%;
    font-size: 16px;
    margin: 0 0;
    display: -webkit-flex; /* Safari */     
    display: flex;
    
}



.more__button{
    width: 100%;
    display: 'block';
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 20px 0;
    

}

.more__button button{
    display:inline-block;
    width:30%;
    height:30%;
    font-size: 16px;
    padding: 0 30px;
    
}

.project__description li {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 'all .6s ease';
    font-size: 24px;
    border: #000;
    border-style: solid;
    border-radius: 1px;
    border-width: 1px;
    text-align: center;
    list-style: none;
    margin: 2em 1em;
    padding: 10px 20px;
    color: #fff;
    
    background: transparent;
    position: relative;
    width:100%;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    -ms-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    
}

.project__description li h1{
    transition: 'all .6s ease';
    font-size: 24px;
    border: #131313;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    text-align: center;
    list-style: none;
    margin: 1em 1em;
    padding: 20px 20px;
    
    position: relative;
}
.project__description p{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    text-align: justify ;
}
.project_description a.gitlink {
    font-size: 16px;
    color: #85baff;
    text-align: right;
    display: block;
    z-index: 1;
    
}
.project__description li a.gitlink::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ' ';
}
.projects__title{
    transition: 'all .6s ease';
    
    
    
    text-align: center;
    list-style: none;
    margin: 1em 0em;
    padding: 20px 20px;
    background: transparent;
    position: relative;
}

.projects__title span{
    text-align: center;
    font-size: 64px;
    color:#fff;
  display: inline-block;
  position: relative;
}

 .projects__title span:before,
 .projects__title span:after{
    content: "";
    position: absolute;
    height: 4px;
    top: .53em;
    max-width: 1300px;
    width: 20vw;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.projects__title span:before{
  right: 100%;
  margin-right: 45px;
}
.projects__title span:after {
  left: 100%;
  margin-left: 45px;
}



.project__description li:hover{

  background:#2e2e2e;
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  
  color:white;
  transform: scale(1.005);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 
  transition: all .2s ease-in-out;
  
  
}
.project__description li:hover h1{

    background:#fff;
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    
    color:rgba(0,0,0,1);
    transform: scale(1.005);
      /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
   
    transition: all .2s ease-in-out;
    
    
  }

@keyframes rainbow { 
    0%{background-position:top}
    50%{background-position:bottom}
    100%{background-position:top}
  }
#more {display: none;}


  .btn {
    font-size: 12px;
    font-size: 0.75rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #b57edc;
    -webkit-border-radius: 0px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0px;
    -moz-background-clip: padding;
    border-radius: 0px;
    background-clip: padding-box;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    -ms-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    border: 0 none;
    margin: 12px 0;
    padding: 12px 35px;
    text-shadow: 0 1px 0px #780d33;
    display:inline-block;
    flex: 1;
  }

  .btn-action {
    font-weight: bold;
    background: transparent!important;
    border: 1px solid #b57edc;
    text-shadow: none;
  }
  .btn-action:hover,
  .btn-action:focus,
  .btn-action:active,
  .btn-action.active {
    color: #bd1550;
    border-color: #bd1550;
  }


  
  .skillslist{
    background: #2e2e2e;
}
.skills__container{
    text-align:center;
    align-items: center;
    align-content: center;
    justify-self: center;
   
    
    background-image: #393D47;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 40px 50px;
} 

.container *{
    
    color: black;
    font-weight: 500;
}
.details{
    width: 100%;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 10px;
}
.sbar{
    position: relative;
    border: 2px solid #b57edc;
    border-radius: 20px;
}
.sbar div{
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #b57edc;
}
.skills:not(:last-child){
    margin-bottom: 30px;
}
.details span i{
    color:white;
    padding-right: 5px;
}
.details span {
    color:white;
    
}
#advanced-bar{
    width: 90%;
}
#intermediate-bar{
    width: 60%;
}
#basic-bar{
    width: 40%;
}
@media  screen and (max-width: 960px) {
    .project__description li h1{

        background:#fff;
        background-size: 200% 200%;
        animation: rainbow 2s ease-in-out infinite;
        background-clip: text;
        
        color:rgba(0,0,0,1);
        transform: scale(1.005);
          /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
       
        transition: all .2s ease-in-out;
        
        
      }
    .project__description{
        display:inline-block;
    }
    .project__description li{
        margin: 2em 0em;
    }
    .skills__container{
        text-align:center;
        align-items: center;
        align-content: center;
        justify-self: center;
       
        
        background-image: #393D47;
        z-index: 1;
        width: 100%;
        height: 100%;
        max-width: 960px;
        padding: 40px 50px;
    } 

    .intro__container{
        text-align:center;
        align-items: center;
        align-content: center;
        justify-self: center;
        margin: 0, auto;
        height: 100%;
        background-image: linear-gradient(to top, #ee9ca7 75%, #d67493 100%);
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 40px 50px;
    }
    .intro__content p{
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 24px;
    }
}

